@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "CodeNewRoman";
  src: url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman.otf") format("truetype"),
    url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman\ b.otf") format("truetype"),
    url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman\ i.otf") format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
}

.homeBgImg {
  background-image: url("./assets/images/BgHome–2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.marketPlaceBgImg {
  background-image: url("./assets/images/Home–2b.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.marketPlaceBoxShadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CodeNewRomanFont {
  font-family: "CodeNewRoman", sans-serif;
}

.BarlowFont {
  font-family: "Barlow", sans-serif;
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lfr-direction {
  direction: ltr !important;
}

.scroll-marketplace {
  overflow-y: scroll;
  direction: rtl;
}

.scroll-marketplace::-webkit-scrollbar {
  width: 4px;
}

.scroll-marketplace::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.scroll-marketplace::-webkit-scrollbar-track {
  background-color: none;
}

/*  */
.scroll-marketplace-dropdown {
  overflow-y: scroll;
}

.scroll-marketplace-dropdown::-webkit-scrollbar {
  width: 3px;
}

.scroll-marketplace-dropdown::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.scroll-marketplace-dropdown::-webkit-scrollbar-track {
  background-color: none;
}


.circle {
  border-color: #518eff;
  animation: colorChange 6s linear infinite;
}

@keyframes colorChange {
  0% {
    border-color: #518eff;
  }

  20% {
    border-color: #b725ff;
  }

  40% {
    border-color: #518eff;
  }

  60% {
    border-color: #b725ff;
  }

  80% {
    border-color: #518eff;
  }

  100% {
    border-color: #b725ff;
  }
}

.card {
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  /* height: 100%; */
  background: linear-gradient(90deg,
      rgba(226, 37, 122, 0.4) 0%,
      rgba(86, 59, 218, 0.4) 100%);
  border-radius: 8px;
  transition: transform 0.3s;
  z-index: -1;
}

.card:hover:before {
  transform: rotate(5deg) translateY(5%);
}
