@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "CodeNewRoman";
  src: url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman.otf")
      format("truetype"),
    url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman\ b.otf")
      format("truetype"),
    url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman\ i.otf")
      format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
}

.layout {
  background-image: url("./assets/images/BgHome–2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.CodeNewRomanFont {
  font-family: "CodeNewRoman", sans-serif;
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.circle {
  border-color: #518eff; /* Initial color */
  animation: colorChange 6s linear infinite; /* Change 5s to your desired duration */
}

@keyframes colorChange {
  0% {
    border-color: #518eff;
  }
  25% {
    border-color: #b725ff;
  }
  50% {
    border-color: #518eff;
  }
  75% {
    border-color: #518eff;
  }
  100% {
    border-color: #b725ff;
  }
}

/* .main-card {
  position: relative;
  transition: transform 0.5s;
}

.main-card:hover {
  transform: rotate(5deg) perspective(100px) translateY(30px); 
} */

.card {
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(226, 37, 122, 0.4) 0%,
    rgba(86, 59, 218, 0.4) 100%
  );
  border-radius: 8px;
  transition: transform 0.3s;
  z-index: -1;
}

.card:hover:before {
  transform: rotate(5deg) translateY(5%);
}
