@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "CodeNewRoman";
  src: url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman.otf")
      format("truetype"),
    url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman\ b.otf")
      format("truetype"),
    url("./assets/code-new-roman-cufonfonts/Code\ New\ Roman\ i.otf")
      format("truetype");
}

body {
  background-image: url("./assets/images/BgHome–2.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.CodeNewRomanFont {
  font-family: "CodeNewRoman", sans-serif;
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.circle {
  border-color: #518eff; /* Initial color */
  animation: colorChange 6s linear infinite; /* Change 5s to your desired duration */
}

@keyframes colorChange {
  0% {
    border-color: #518eff;
  }
  25% {
    border-color: #b725ff;
  }
  50% {
    border-color: #518eff;
  }
  75% {
    border-color: #518eff;
  }
  100% {
    border-color: #b725ff;
  }
}
